{% extends 'book/base/base.html' %}

{% block body %}
  <h1>CS224</h1>
  <p class="lead"><a href="https://web.stanford.edu/class/archive/cs/cs224n/cs224n.1194/" target="_blank">홈페이지</a></p>

  {% for obj in object_list %}
    <h2>{{ obj.number }}강: {{ obj.title }}</h2>
    <iframe width="560" height="315" src="{{ obj.video }}" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p><a href="{{ obj.lecture_note }}" download target="_blank">강의자료</a></p>
  {% endfor %}

{% endblock %}
