{% extends 'book/base/base.html' %}
{% block body %}
  <H1><i class="fa fa-chalkboard-teacher"></i> Deep Learning 스터디 자료</H1>
  <h2><i class="fa fa-file-pdf"></i> 논문 정리</h2>
  <table class="table table-sm table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Slide</th>
      <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>

    {% for paper in object_list %}
      <tr>
        <th scope="row">{{ paper.id }}</th>
        <td>{{ paper.title }}</td>
        <td><a href="{{ paper.slide }}" target="_blank">
          <i class="fa fa-link"></i>
        </a></td>
        <td><a href="{{ paper.link }}" target="_blank">
          <i class="fa fa-link"></i>
        </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
