{% extends 'book/base/base.html' %}
{% block sidebar %}
    {% include 'book/study/study_sidebar.html' %}
{% endblock %}
{% block body %}
    <H1><i class="fa fa-chalkboard-teacher"></i> Deep Learning 스터디 자료</H1>
    <h2><i class="fa fa-file-pdf"></i> 논문 정리</h2>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>AlexNet</td>
            <td><a href="https://drive.google.com/open?id=1ZgsaUM1R7-wJpn_k9QukLCvwedLDjv3RCEihtuGK1Ck" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Linguistically-Informed Self-Attention for Semantic Role Labeling</td>
            <td><a href="https://drive.google.com/open?id=17WKD8DIQP7wkVo5B_ygAyownDq2wr4ABSrCa1vgIENU" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>XLNET에서의 data preprocessing</td>
            <td><a href="https://drive.google.com/open?id=132xup0lCSJFz8WmYK-hy-8A_TatAqsYqZtln27JliRs" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>ASR with Sentiment Analysis</td>
            <td><a href="https://docs.google.com/presentation/d/1L6wmfWpe4QVJZubY-S5RBK-Ngt7Zd4Y3dK_8li3e-Vk" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>



        </tbody>
    </table>
{% endblock %}