{% extends 'book/base/base.html' %}

{% block body %}
  <h1><a href="http://web.stanford.edu/class/cs234/index.html">CS234</a><br></h1>
  <h2>1강</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/FgzM3zpZ55o" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p><a href="http://web.stanford.edu/class/cs234/CS234Win2019/slides/lecture1.pdf" download target="_blank">강의자료</a></p>
  <h2>2강</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/E3f2Camj0Is" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p><a href="http://web.stanford.edu/class/cs234/CS234Win2019/slides/lecture2.pdf" download target="_blank">강의자료</a></p>

{% endblock %}
