{% extends 'book/base/base.html' %}
{% block body %}
    <H1><i class="fa fa-chalkboard-teacher"></i> Deep Learning 스터디 자료</H1>
    <h2><i class="fa fa-file-powerpoint"></i> 슬라이드</h2>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Google colab을 이용한 딥러닝을 위한 기초 세팅</td>
            <td><a href="https://drive.google.com/open?id=1l9y4A8HPEGfOz8BC4xQ7gstFzODc1LVBpZa_35xXPco" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Tech Tree</td>
            <td><a href="https://drive.google.com/open?id=187AuMi7CPeFECJ8LB2ITfi1r-OHGcylQ1TmDoUR8EoM" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Gradient Descent Algorithm</td>
            <td><a href="https://drive.google.com/open?id=1T4QqHUi_dHnpcbIwAqtxedj657fwm_nDDneYTMHYEpM" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Linear Classification</td>
            <td><a href="https://drive.google.com/open?id=1fRmecUDiowDVRQKZ_htINgeHereXp7iEsUNgGki9rzQ" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>뉴럴 네트워크의 구현</td>
            <td><a href="https://drive.google.com/open?id=1LhtUGUlpleMYIMky_Ul2re5uCgyJskgP2s546Bwq354" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>중간 정리</td>
            <td><a href="https://drive.google.com/open?id=1Haif-xkBMtievMYXFxCvrfVHGE4IzUO0kFPwIP1hSMk" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>스터디 정리</td>
            <td><a href="https://drive.google.com/open?id=1ukNZNivR_ZQus3y_HTTKIJACXtYh2fzouymRPONpUNE" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Django 간단 튜토리얼</td>
            <td><a href="https://drive.google.com/open?id=1x9Cx7RN0Za8hGxw4dU555eOt734E0QQuuagS1dHVHQ0" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>선형대수와 Numpy</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1MsBkz9R4d9Bp0YV2MLAAdhNBSQdCimrXpNAELMZ1Cjg"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>딥러닝 이야기</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1WfO9DxNRavmX4nXFzmbwaB2NUFMUhbkGd2OJV5G-UtI"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>neuirtutorial-wsdm2017-170206010405</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1Ed2LHP_CUg3p2lTSnqMGd19W1xdRT7C876PpAlF8gZs"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>From Bert to AlBert</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1Z5n8m0cqpNDR_9BxQ4ukLaEkXe61JC6SCkNj1w65lFg"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>Pycharm 유용한 기능</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1hpe8QKWMyenaxg5Shc1pF1RxjsqvMHEpPSQ5IHFS5-E"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>추천 알고리즘</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1_0NKBVxXehm3O5ocuAttEyOaKbW1d0ep5wG2e0FrG4U"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>머신 러닝</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1aigK9bAVYBLqwCiburtMZApmIT0N-1JWWVzjQqe48po"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <!--
        <tr>
            <th scope="row"></th>
            <td></td>
            <td><a href="" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        -->
        </tbody>
    </table>
{% endblock %}