__pycache__
db.sqlite3
/venv/
dashboard/dashboard/*.txt
dashboard/dashboard/*.json
dashboard/.static_root/
.idea/inspectionProfiles/
.idea/dataSources.xml
.idea/deployment.xml
.idea/webServers.xml
.idea/workspace.xml
/**/migrations/*
venv2/
.gitignore
/**/wait-for-it.sh
env.sh

.env
.envs/*
!.envs/.local/