__pycache__
db.sqlite3
/venv/
dashboard/dashboard/*.txt
dashboard/dashboard/*.json
.idea/inspectionProfiles/
.idea/dataSources.xml
.idea/deployment.xml
.idea/webServers.xml
.idea/workspace.xml
/**/migrations/*
