{% extends 'book/base/base.html' %}

{% block body %}
    <H1><i class="fa fa-comments"></i> Chatbot 연습</H1>
    <p>
        Rasa를 활용한 챗봇 서비스를 구현해보자!<br/>
        <a href="https://rasa.com/">Rasa Link</a>
    </p>

    <pre>
    pip install rasa-x --extra-index-url https://pypi.rasa.com/simple
    </pre>

    {% csrf_token %}
    <form id="message_form">
        <div class="input-group mb-3">
            <input type="text" name="message" class="form-control" placeholder="Message" aria-label="Query" id="message"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="submit" value="submit">
                    Submit
                </button>
            </div>
        </div>
        <textarea id="message_area" class="form-control data-autoresize" readonly></textarea>
    </form>
    {% include 'book/chatbot/nlu.html' %}
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="{% static 'book/js/chatbot.js' %}"></script>
{% endblock %}