<div class="alert alert-secondary" role="alert">
    <h2 id="intentgreet">intent:greet</h2>
    <ul>
        <li>hey</li>
        <li>hello</li>
        <li>hi</li>
        <li>good morning</li>
        <li>good evening</li>
        <li>hey there</li>
    </ul>
</div>
<div class="alert alert-secondary" role="alert">
    <h2 id="intentgoodbye">intent:goodbye</h2>
    <ul>
        <li>bye</li>
        <li>goodbye</li>
        <li>see you around</li>
        <li>see you later</li>
    </ul>
</div>
<div class="alert alert-secondary" role="alert">
    <h2 id="intentaffirm">intent:affirm</h2>
    <ul>
        <li>yes</li>
        <li>indeed</li>
        <li>of course</li>
        <li>that sounds good</li>
        <li>correct</li>
    </ul>
</div>
<div class="alert alert-secondary" role="alert">
    <h2 id="intentdeny">intent:deny</h2>
    <ul>
        <li>no</li>
        <li>never</li>
        <li>I don't think so</li>
        <li>don't like that</li>
        <li>no way</li>
        <li>not really</li>
    </ul>
</div>
<div class="alert alert-secondary" role="alert">
    <h2 id="intentmood_great">intent:mood_great</h2>
    <ul>
        <li>perfect</li>
        <li>very good</li>
        <li>great</li>
        <li>amazing</li>
        <li>wonderful</li>
        <li>I am feeling very good</li>
        <li>I am great</li>
        <li>I'm good</li>
    </ul>
</div>
<div class="alert alert-secondary" role="alert">
    <h2 id="intentmood_unhappy">intent:mood_unhappy</h2>
    <ul>
        <li>sad</li>
        <li>very sad</li>
        <li>unhappy</li>
        <li>bad</li>
        <li>very bad</li>
        <li>awful</li>
        <li>terrible</li>
        <li>not very good</li>
        <li>extremely sad</li>
        <li>so sad</li>
    </ul>
</div>
<div class="alert alert-secondary" role="alert">
    <h2 id="intentbot_challenge">intent:bot_challenge</h2>
    <ul>
        <li>are you a bot?</li>
        <li>are you a human?</li>
        <li>am I talking to a bot?</li>
        <li>am I talking to a human?</li>
    </ul>
</div>