{% extends 'book/base/base.html' %}

{% block body %}
    <H1>Deep Learning 스터디 자료</H1>
    <h2>슬라이드</h2>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Google colab을 이용한 딥러닝을 위한 기초 세팅</td>
            <td><a href="https://drive.google.com/open?id=1l9y4A8HPEGfOz8BC4xQ7gstFzODc1LVBpZa_35xXPco" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Tech Tree</td>
            <td><a href="https://drive.google.com/open?id=187AuMi7CPeFECJ8LB2ITfi1r-OHGcylQ1TmDoUR8EoM" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Gradient Descent Algorithm</td>
            <td><a href="https://drive.google.com/open?id=1T4QqHUi_dHnpcbIwAqtxedj657fwm_nDDneYTMHYEpM" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Linear Classification</td>
            <td><a href="https://drive.google.com/open?id=1fRmecUDiowDVRQKZ_htINgeHereXp7iEsUNgGki9rzQ" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>뉴럴 네트워크의 구현</td>
            <td><a href="https://drive.google.com/open?id=1LhtUGUlpleMYIMky_Ul2re5uCgyJskgP2s546Bwq354" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>중간 정리</td>
            <td><a href="https://drive.google.com/open?id=1Haif-xkBMtievMYXFxCvrfVHGE4IzUO0kFPwIP1hSMk" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>스터디 정리</td>
            <td><a href="https://drive.google.com/open?id=1ukNZNivR_ZQus3y_HTTKIJACXtYh2fzouymRPONpUNE" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Django 간단 튜토리얼</td>
            <td><a href="https://drive.google.com/open?id=1x9Cx7RN0Za8hGxw4dU555eOt734E0QQuuagS1dHVHQ0" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>선형대수와 Numpy</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1MsBkz9R4d9Bp0YV2MLAAdhNBSQdCimrXpNAELMZ1Cjg/edit?usp=sharing"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>딥러닝 이야기</td>
            <td>
                <a href="https://docs.google.com/presentation/d/1WfO9DxNRavmX4nXFzmbwaB2NUFMUhbkGd2OJV5G-UtI/edit?usp=sharing"
                   target="_blank">
                    <i class="fa fa-link"></i>
                </a></td>
        </tr>

        <!--
        <tr>
            <th scope="row"></th>
            <td></td>
            <td><a href="" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        -->
        </tbody>
    </table>

    <h2>논문 정리</h2>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>AlexNet</td>
            <td><a href="https://drive.google.com/open?id=1ZgsaUM1R7-wJpn_k9QukLCvwedLDjv3RCEihtuGK1Ck" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Linguistically-Informed Self-Attention for Semantic Role Labeling</td>
            <td><a href="https://drive.google.com/open?id=17WKD8DIQP7wkVo5B_ygAyownDq2wr4ABSrCa1vgIENU" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>XLNET에서의 data preprocessing</td>
            <td><a href="https://drive.google.com/open?id=132xup0lCSJFz8WmYK-hy-8A_TatAqsYqZtln27JliRs" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        </tbody>
    </table>
    <h2>Colab 실습 자료</h2>
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>파이썬 10분 복습</td>
            <td><a href="https://drive.google.com/open?id=1DlfrZaIFL0rNIv_2F_mBSnOIUcsH3Bsd" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Python Basics (1) - Variables</td>
            <td><a href="https://drive.google.com/open?id=1gYQcCCA5DYLIEU-EzlV4d3cXuiQ0yHDH" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Python Basics (2) - Primitive Data Type</td>
            <td><a href="https://drive.google.com/open?id=1L__Q_bYfEs4geuDimAkX7Knio8aikobf" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Python Basics (3) - Containers</td>
            <td><a href="https://drive.google.com/open?id=1gCqZTdNgZ4CUA57ywbUIw5DZNKW-Kizj" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Python Basics (4) - For and if statements</td>
            <td><a href="https://drive.google.com/open?id=1ssHfL9pkvMlIU9Z2b_81DlSpxTnzlc2P" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Python Basics (5) - Functions</td>
            <td><a href="https://drive.google.com/open?id=1XqxhQfdhVLbMxU-Q2rGAbqc0jsTrvJoj" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Python Basics (6) - Class</td>
            <td><a href="https://drive.google.com/open?id=10ORBq8s2XkQfUXUzVysHO4Hcs4VPJv81" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Regular Expression</td>
            <td><a href="https://drive.google.com/open?id=14_2nTop0gEOwHXFh-KCoOWQIyXPMBdH9" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Numpy basics (1)</td>
            <td><a href="https://drive.google.com/open?id=1Q-CvqZivDo5lBbUFw4f5QFUWIDQZBzuI" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Numpy basics (2) - Broadcasting</td>
            <td><a href="https://drive.google.com/open?id=1m0eklbl_FV2DJl17o8_KX16gIzp-vZCg" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>Tensorflow Basics (1) - Constant and Session</td>
            <td><a href="https://drive.google.com/open?id=1kmmLlcXgqbdnNNLD19LuQODzM_41WDog" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>Tensorflow Basics (2) - Variables and Placeholders</td>
            <td><a href="https://drive.google.com/open?id=1mzMYDZw9-LrH9XxO0gMy3FLOWIB4rjVj" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>Using Tensorboard</td>
            <td><a href="https://drive.google.com/open?id=15RLykqKxEgp2qzmS7sh4lQnB0d4leR9h" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>Tensorflow 번외편 - Softmax와 cross entropy의 구현</td>
            <td><a href="https://drive.google.com/open?id=1-XDWpnBo-ODyxUK6Lwn7iNzOG3cvd0-I" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>강화학습 GYM</td>
            <td><a href="https://drive.google.com/open?id=1QLBAeCBH4i7cGlIx5bmxxzU0bfxG1PfF" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>Regression (1) - Linear Regression</td>
            <td><a href="https://drive.google.com/open?id=1E8D3e4KKmMK3u22clk2evaD6AUbbD96c" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>Regression (2) - 2 dimensional regression</td>
            <td><a href="https://drive.google.com/open?id=1gdskWOqq7T14jql4CPX5IBEEK04iZBLZ" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td>Regression (3) - gradient descent</td>
            <td><a href="https://drive.google.com/open?id=1Hy3XYnTMGX4xNsJNrwHWMtA-3mv6tr-G" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">19</th>
            <td>Regression (4) - Basis function</td>
            <td><a href="https://drive.google.com/open?id=1eSXYRnUYOpn7zUjcFxpqKjma9LGQoqfu" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td>Regression (5) - Regularization and Normalization</td>
            <td><a href="https://drive.google.com/open?id=1xctn-u4bM1pX0yYmswnETRMcDdXHQZdS" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">21</th>
            <td>Classification (1) - KNN</td>
            <td><a href="https://drive.google.com/open?id=1bB46lkNPd3JQg9YcqTxUFgKytE8RGOmw" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td>Classification (1) - KNN solution</td>
            <td><a href="https://drive.google.com/open?id=1a62HTAhYyZlscIqwB0ZoS7WlM3QjY6BD" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">23</th>
            <td>Classification (2) - linear classification with softmax cross entropy</td>
            <td><a href="https://drive.google.com/open?id=14xQr6LItjjLtMovqpCfOrnanTzIj_8e0" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">24</th>
            <td>Neural Network (1)</td>
            <td><a href="https://drive.google.com/open?id=15UvOuBS1NRYdR_R2gkuDcNQOF-PASiJ2" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">25</th>
            <td>Neural Network (2)</td>
            <td><a href="https://drive.google.com/open?id=19LqDOW4XSYKWcU1IQO7_d32ncECk_EY8" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        <tr>
            <th scope="row">26</th>
            <td>SkipGram</td>
            <td><a href="https://drive.google.com/open?id=1IYKGnTwH1ZcoezOb4tLgJV7RBcp27erU" target="_blank">
                <i class="fa fa-link"></i>
            </a></td>
        </tr>
        </tbody>

    </table>
{% endblock %}