{% extends 'book/base/base.html' %}

{% block style %}
    <style>
        .people-img {
            width: 100%;
            object-fit: contain;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .people-table {
            table-layout: fixed;
        }
    </style>
{% endblock %}

{% block body %}
    {% load book_extras %}

    <H1><i class="fa fa-users"> </i> 분류</H1>
    {% if user.is_superuser %}
        <a href="{% url 'book:add_image' 'people' %}">Add new images</a>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="검색" aria-label="Query"
                       aria-describedby="button-addon2" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        Submit
                    </button>
                </div>
            </div>
        </form>

        {% if distinct or query %}
            <div class="row">
                {% if distinct %}
                    <div class="col-md-6">
                        <a class="btn btn-success" data-toggle="collapse" href="#collapseStatus" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            분류 현황 보기
                        </a>
                    </div>
                {% endif %}
                {% if query %}
                    {% if 'high_expectation' in request.META.PATH_INFO %}
                        <div class="col-md-6">
                            <a class="btn btn-success" href="{% url 'book:people' %}?query={{ query }}">
                                랜덤 분류
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-success" href="{% url 'book:people_result' 1 %}?query={{ query }}">
                                분류된 이미지
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-6">
                            <a class="btn btn-success"
                               href="{% url 'book:people_high_expectation' %}?query={{ query }}">
                                예상 순서 분류
                            </a>
                        </div>
                    {% endif %}

                {% endif %}
            </div>
            {% if distinct %}
                <div class="collapse" id="collapseStatus">
                    <table class="table table-sm table-hover">
                        {% for value_list in distinct %}
                            <tr>
                                {% for value in value_list %}
                                    <td><a href="?query={{ value.user_id }}">{{ value.user_id }}
                                        (count: {{ value.id__count }})</a></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        {% endif %}


        {% csrf_token %}
        <h4>Query Count {{ query_count }}, Unclassified {{ unclassified_count }}</h4>
        <table class="table table-sm people-table">
            <thead>
            <tr>
                <th style="max-width:50%;width:50%">이미지</th>
                <th style="max-width:30%;width:30%">설명</th>
                <th style="width:10%">Yes</th>
                <th style="width:10%">No</th>
            </tr>
            </thead>
            <tbody>
            {% for image in image_list %}
                <tr>
                    <td rowspan="2" style="width:30%">
                        <a href="http://instagram.com{{ image.page }}" target="_blank">
                            <img src="{{ image.url }}"
                                 alt="Not Found"
                                 class="people-img">
                        </a></td>
                    <td style="width:30%;max-width:30%;overflow-wrap:break-word;">
                        <a href="?query={{ image.user_id }}">{{ image.user_id }}</a>
                        <br>{{ image.title | truncatechars:1000 | highlight_user | urlize | linebreaksbr }}
                    </td>
                    <td rowspan="2" style="width:10%">
                        <button class="btn btn-primary like" id="{{ image.id }}_yes">Yes</button>
                    </td>
                    <td rowspan="2" style="width:10%">
                        <button class="btn btn-primary like" id="{{ image.id }}_no">No</button>
                    </td>
                </tr>
                <tr>
                    <td id="img_{{ image.id }}">예상</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        var element_count = {{ image_list|length }};
        $(document).ready(function () {
            $("td[id^='img_']").each(function () {
                let id = this.id;
                let csrf = $('[type=hidden]').val();
                let data = new FormData();
                data.append('image_id', id);
                data.append('csrfmiddlewaretoken', csrf);

                fetch("{% url 'book:people_classification_api' %}", {
                    method: 'POST',
                    body: data,
                    credentials: 'same-origin'
                }).then(function (response) {
                    return response.json();
                })
                    .then(function (json) {
                        let target_div = $('#' + id);
                        if (json["classification"]["status"] === "requested") {
                            target_div.text("Requested")
                        } else {
                            target_div.text(json["classification"]["label"] + " " + Math.max(...json["classification"]["classification"]).toFixed(2));
                            if (json["classification"]["label"] === 'True') {
                                target_div.addClass("table-success")
                            } else {
                                target_div.addClass("table-danger")
                            }
                        }
                    });
            })
        });

        $('button[class="btn btn-primary like"]').click(function (e) {
            let temp = this.id.split('_');
            let csrf = $('[type=hidden]').val();
            let data = new FormData();
            data.append('image_id', temp[0]);
            data.append('csrfmiddlewaretoken', csrf);
            data.append('selected', temp[1]);
            data.append('data_type', 'people');

            fetch("{% url 'book:rating_api' %}", {
                method: 'POST',
                body: data,
                credentials: 'same-origin'
            });
            let closest_tr = $(e.target).closest('tr');
            let next_tr = closest_tr.next('tr');

            closest_tr.remove();
            next_tr.remove();
            element_count--;

            if (element_count === 0) {
                location.reload();
            }
        });
        $(document).on('click', 'td', function () {
            $(this).children('button').click();
        });
    </script>
{% endblock %}