{% extends 'book/base/base.html' %}

{% block style %}
    <style>
        .people-img {
            width: 100%;
            object-fit: contain;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
{% endblock %}

{% block body %}
    <H1><i class="fa fa-users"> </i> 인명사전</H1>
    {% if user.is_superuser %}
        <a href="{% url 'book:add_image' 'people' %}">Add new images</a>
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="검색" aria-label="Query"
                       aria-describedby="button-addon2" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        Submit
                    </button>
                </div>
            </div>
        </form>

        {% csrf_token %}
        <h4>Query Count {{ query_count }}, Unclassified {{ unclassified_count }}</h4>
        <table class="table table-sm" style="table-layout:fixed">
            <thead>
            <tr>
                <th style="max-width:50%;width:50%">이미지</th>
                <th style="max-width:30%;width:30%">설명</th>
                <th style="width:10%">Yes</th>
                <th style="width:10%">No</th>
            </tr>
            </thead>
            <tbody>
            {% for image in image_list %}
                <tr>
                    <td rowspan="2" style="width:30%">
                        <a href="http://instagram.com{{ image.page }}">
                            <img src="{{ image.url }}"
                                 alt="{{ image.title }}"
                                 class="people-img">
                        </a></td>
                    <td style="width:30%;max-width:30%;overflow-wrap:break-word;">{{ image.title | linebreaksbr }}</td>
                    <td rowspan="2" style="width:10%">
                        <button class="btn btn-primary like" id="{{ image.id }}_yes">Yes</button>
                    </td>
                    <td rowspan="2" style="width:10%">
                        <button class="btn btn-primary like" id="{{ image.id }}_no">No</button>
                    </td>
                </tr>
                <tr>
                    <td id="img_{{ image.id }}">예상</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            console.log("HI");
            $("td[id^='img_']").each(function () {
                let id = this.id;

                let csrf = $('[type=hidden]').val();
                let data = new FormData();
                console.log(id);
                data.append('image_id', id);
                data.append('csrfmiddlewaretoken', csrf);

                fetch("{% url 'book:people_classification_api' %}", {
                    method: 'POST',
                    body: data,
                    credentials: 'same-origin'
                }).then(function (response) {
                    return response.json();
                })
                    .then(function (json) {
                        console.log(json);
                        let target_div = $('#' + id);
                        console.log(target_div.text());
                        target_div.text(json["classification"]["label"] + " " + json["classification"]["classification"][1].toFixed(2));
                    });
            })
        });

        $('button[class="btn btn-primary like"]').click(function (e) {
            let temp = this.id.split('_');
            let csrf = $('[type=hidden]').val();
            let data = new FormData();
            data.append('image_id', temp[0]);
            data.append('csrfmiddlewaretoken', csrf);
            data.append('selected', temp[1]);
            data.append('data_type', 'people');

            fetch("{% url 'book:rating_api' %}", {
                method: 'POST',
                body: data,
                credentials: 'same-origin'
            });
            let closest_tr = $(e.target).closest('tr');
            let next_tr = closest_tr.next('tr');
            console.log(closest_tr[0]);
            console.log(next_tr[0]);
            closest_tr.remove();
            next_tr.remove();
        });
        $(document).on('click', 'td', function () {
            console.log('clicked');
            $(this).children('button').click();
        });
    </script>
{% endblock %}