{% extends 'book/base/base.html' %}
{% block style %}
    <style>
        .tenth-cell {
            width: 10px;
            overflow-wrap: break-word;
        }

        .height-400 {
            height: 150px;
            vertical-align: middle;
        }

        .label-button {
            width: 100%;
            height: 90%;
            vertical-align: middle;
        }

        .pokemon-img {
            width: 100%;
            object-fit: contain;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
{% endblock %}
{% block body %}
    {% if user.is_superuser %}
        <a href="{% url 'book:add_image' 'pokemon_classification' %}">Add new images</a>
    {% endif %}

    {% if user.is_active %}
        <form method="get" action="{% url 'book:pokemon_classification' 1 %}">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="검색" aria-label="Query"
                       aria-describedby="button-addon2" value="{{ query }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        Submit
                    </button>
                </div>
            </div>
        </form>

        {% if image_list %}
            {% csrf_token %}
            <table class="table table-sm table-hover" style="table-layout:fixed">
                <thead>
                <tr>
                    <th class="center-row" style="width:40%">이미지</th>
                    <th class="center-row">예시</th>
                    <th class="center-row">적합성</th>
                </tr>
                </thead>
                <tbody>
                {% for image in image_list %}
                    <tr>
                        <td rowspan="2" class="center-row">
                            <img src="{{ image.url }}" alt="{{ image.title }}"
                                 class="pokemon-img">
                        </td>
                        <td rowspan="2" class="center-row">
                            {{ image.original_label }}
                            <img src="http://13.67.47.175:8880/pokemon/static/classifier/pokemon-images-and-types/images/images/{{ image.original_label |lower }}.png"
                                 alt="Image Not Found">
                        </td>
                        <td class="height-400">
                            <button class="btn btn-primary label-button" id="{{ image.id }}_yes">적합
                            </button>
                        </td>
                        <td class="height-400">
                            <button class="btn btn-secondary label-button" id="{{ image.id }}_little">
                                단순한 처리 필요함
                            </button>
                        </td>
                    </tr>
                    <tr>

                        <td class="height-400">
                            <button class="btn btn-info label-button" id="{{ image.id }}_more">
                                복잡한 처리 필요함
                            </button>
                        </td>
                        <td class="height-400">
                            <button class="btn btn-danger label-button" id="{{ image.id }}_no">부적합
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            {% with current_url="book:pokemon_classification" %}
                {% include 'book/base/pagenator.html' %}
            {% endwith %}
        {% else %}
            <h3>조건에 해당하는 이미지가 없습니다.</h3>
        {% endif %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        $('button[class="btn btn-primary label-button"]').click(function (e) {
            console.log(this[0]);
            console.log(this.id);
            let temp = this.id.split('_');
            let csrf = $('[type=hidden]').val();
            let data = new FormData();
            data.append('image_id', temp[0]);
            data.append('csrfmiddlewaretoken', csrf);
            data.append('selected', temp[1]);
            data.append('data_type', 'pokemon');

            fetch("{% url 'book:rating_api' %}", {
                method: 'POST',
                body: data,
                credentials: 'same-origin'
            });
            $(e.target).closest('tr').remove();
        });
    </script>
{% endblock %}