{% extends 'book/base/base.html' %}

{% block body %}
    {% if user.is_superuser %}
        <a href="{% url 'book:add_image' 'pokemon' %}">Add new images</a>
    {% endif %}

    {% if user.is_active %}
        {% csrf_token %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th rowspan="2" colspan="2" style="text-align: center">이미지</th>
                <th colspan="4" style="text-align: center">적합성</th>
            </tr>
            <tr>
                <th style="width:15%;text-align: center">적합</th>
                <th style="width:15%;text-align: center">단순한 처리 필요함</th>
                <th style="width:15%;text-align: center">복잡한 처리 필요함</th>
                <th style="width:15%;text-align: center">부적합</th>
            </tr>
            </thead>
            <tbody>
            {% for image in image_list %}
                <tr>
                    <td><img src="{{ image.url }}" alt="{{ image.title }}" style="width:400px"></td>
                    <td style="text-align: center">{{ image.original_label }}</td>
                    <td>
                        <button class="btn btn-primary like" id="{{ image.id }}_yes" style="width:100%">적합</button>
                    </td>
                    <td>
                        <button class="btn btn-primary like" id="{{ image.id }}_little" style="width:100%">단순한 처리 필요함</button>
                    </td>
                    <td>
                        <button class="btn btn-primary like" id="{{ image.id }}_more" style="width:100%">복잡한 처리 필요함</button>
                    </td>
                    <td>
                        <button class="btn btn-primary like" id="{{ image.id }}_no" style="width:100%">부적합</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item {% if not page_info.prev %}disabled{% endif %}">
                    <a class="page-link" href="{% url 'book:pokemon' page_info.prev %}">Previous</a>
                </li>
                {% for page in page_info.page_list %}
                    <li class="page-item {% if page == page_info.page %}active{% endif %}">
                        <a class="page-link" href="{% url 'book:pokemon' page %}">{{ page }}</a>
                    </li>
                {% endfor %}
                <li class="page-item" {% if page_info.next %}disabled{% endif %}>
                    <a class="page-link" href="{% url 'book:pokemon' page_info.next %}">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        $('button[class="btn btn-primary like"]').click(function (e) {
            console.log(this[0]);
            console.log(this.id);
            let temp = this.id.split('_');
            let csrf = $('[type=hidden]').val();
            let data = new FormData();
            data.append('image_id', temp[0]);
            data.append('csrfmiddlewaretoken', csrf);
            data.append('selected', temp[1]);
            data.append('data_type', 'pokemon');

            fetch("{% url 'book:rating_api' %}", {
                method: 'POST',
                body: data,
                credentials: 'same-origin'
            });
            $(e.target).closest('tr').remove();
        });
    </script>
{% endblock %}