{% extends 'book/base/base.html' %}

{% block body %}
    <H1><i class="fa fa-check"></i> Todo List</H1>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>요구사항 정리</td>
        </tr>
        <tr>
            <td>사이드바 정리</td>
        </tr>
        <tr>
            <td>와인리스트 연동</td>
        </tr>
        <tr>
            <td>Nginx 연동</td>
        </tr>
        </tbody>
{% endblock %}