{% extends 'book/base/base.html' %}
{% block style %}
    <style>
        .pokemon-img {
            width: 100%;
            height: 400px;
            object-fit: contain;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
{% endblock %}
{% block body %}
    <H1>Image Details</H1>
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="검색" aria-label="Query"
                   aria-describedby="button-addon2" value="{{ query }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                    Submit
                </button>
            </div>
        </div>
    </form>

    <table class="table table-sm table-hover" style="table-layout:fixed">
        <thead>
        <tr>
            <td style="width:50%">Image</td>
            <td style="width:40%">Rate</td>
            <td style="width:10%">Delete</td>
        </tr>
        </thead>
        {% for obj, rating_list in objects %}
            <tr>
                <td><img src="{{ obj.url }}" class="pokemon-img"></td>
                <td>
                    <ul>
                        <li>Title {{ obj.title }}</li>
                        <li>Label {{ obj.original_label }}</li>
                        <li>분류 {{ obj.classified }}</li>
                    </ul>

                    {% for rating in rating_list %}
                        Model: {{ rating.data.version }}
                        <ul>
                            <li>Status: {{ rating.data.status }}</li>
                            <li>Label: {{ rating.data.label }}</li>
                            <li>Prob
                                <ol>
                                    {% for item in rating.get_prob %}
                                        <li>{{ item.1 | floatformat:4 }} : {{ item.0 }}</li>
                                    {% endfor %}
                                </ol>
                            </li>
                        </ul>
                    {% endfor %}
                </td>
                <td>
                    <button class="btn btn-sm btn-danger delete" id="{{ obj.id }}">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script>
        $('button[class="btn btn-sm btn-danger delete"]').click(function (e) {
            let temp = this.id;
            let csrf = Cookies.get('csrftoken');
            let data = new FormData();
            data.append('image_id', temp);
            data.append('csrfmiddlewaretoken', csrf);

            fetch("{% url 'book:image' 'DELETE' %}", {
                method: 'POST',
                body: data,
                credentials: 'same-origin'
            });
            let closest_tr = $(e.target).closest('tr');
            closest_tr.remove();
        });
    </script>
{% endblock %}