{% extends 'book/base/base.html' %}
{% load humanize %}
{% load book_extras %}
{% block body %}
  {% if summary %}
    <div class="row">
      <div class="col-6"><h2>은행별 내역</h2></div>
      <div class="col-6">
        <a class="btn btn-sm btn-outline-primary" href="{% url 'book:add_snapshot' %}">내역 추가</a>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'book:snapshot_difference' %}">변경 내역</a>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
      <tr>
        <th style="text-align:center">은행</th>
        <th style="text-align:center">합계</th>
      </tr>
      </thead>
      <tbody>
      {% for bank, sum in summary.items %}
        <tr>
          {% for currency, amount in sum.items %}
            <td style="text-align:center"><a href="{% url 'book:bank' bank.id %}">{{ bank }}</a></td>
            <td style="text-align:right">{{ amount | floatformat:0 | intcomma }} {{ currency }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      {% for currency, amount in total.items %}
        <tr>
          {% if forloop.first %}
            <td rowspan="{{ total | length }}" style="text-align:center">총합</td>
          {% endif %}
          <td style="text-align:right">{{ amount | floatformat:0 | intcomma }} {{ currency }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <div class="chart-container">
    <canvas id="myChart" width="400" height="300"></canvas>
  </div>
  <h2>계좌별 최신 내역</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="text-align:center">은행</th>
      <th style="text-align:center">계좌번호</th>
      <th style="text-align:center">계좌명</th>
      <th style="text-align:center">계좌 종류</th>
      <th style="text-align:center">잔액</th>
      <th style="text-align:center">날짜</th>
    </tr>
    </thead>
    <tbody>
    {% for object, snapshot in object_list %}
      <tr>
        <td style="text-align:center"><a href="{% url 'book:bank' object.bank.id %}">{{ object.bank }}</a></td>
        <td style="text-align:right">{{ object.account_number }}</td>
        <td style="text-align:center">{{ object.account_name }}</td>
        <td style="text-align:center">{{ object.get_account_type_display }}</td>
        <td style="text-align:right">{{ snapshot.amount | floatformat | intcomma }} {{ snapshot.currency }}</td>
        <td style="text-align:center">{{ snapshot.added_time | date:"Y n d D" }} {{ snapshot.added_time | time:"H:i" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
          integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: [{% for bank, sum in summary.items %}"{{ bank }}",{% endfor %}],
        datasets: [{
          label: '# of Votes',
          data: [{% for bank, sum in summary.items %}{{ sum|get_value:"KRW" }}, {% endfor %}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(22, 21, 255, 0.2)',
            'rgba(255, 21, 255, 0.2)',
            'rgba(155, 200, 15, 0.2)',
            'rgba(0, 200, 115, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(22, 21, 255, 1)',
            'rgba(255, 21, 255, 1)',
            'rgba(155, 200, 15, 1)',
            'rgba(0, 200, 115, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        maintainAspectRatio: false,
        cutoutPercentage: 40,
      }
    });
  </script>

{% endblock %}
