{% extends 'book/base/base.html' %}
{% block body %}
    {% load humanize %}

    <table class="table table-sm table-striped">
        <tr>
            <th rowspan="2">Date</th>
            <th colspan="2">From</th>
            <th colspan="2">To</th>
            <th></th>
        </tr>
        <tr>
            <th>Amount</th>
            <th>Currency</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Rate</th>
        </tr>
        {% for currency in currency_list %}
            <tr>
                <td>{{ currency.date }}</td>
                <td class="text-right">{{ currency.from_amount | floatformat:0 | intcomma }}</td>
                <td>{{ currency.from_currency }}</td>

                <td class="text-right">{{ currency.to_amount | floatformat:2 | intcomma }}</td>
                <td>{{ currency.to_currency }}</td>

                <td>{{ currency.currency_rate }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td class="text-right">{{ total.from | floatformat:0 | intcomma }}</td>
            <td>KRW</td>
            <td class="text-right">{{ total.to | floatformat:2 | intcomma }}</td>
            <td>USD</td>
            <td>{{ total.rate | floatformat:2 }}</td>
        </tr>
    </table>
{% endblock %}