{% extends 'book/base/base.html' %}

{% block body %}
  <H1>Hello {{ current_page }}</H1>
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">기준 날짜</span>
      </div>
      <input type="date" class="form-control" value="" id="datePicker">
      <div class="input-group-append">
        <input type="submit" class="btn btn-primary">
      </div>
    </div>
  </form>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Date</th>
      <th>Principal</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in objects %}
      <tr>
        <td>{{ obj.date }}</td>
        <td>{{ obj.principal }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    Date.prototype.toDateInputValue = (function () {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0, 10);
    });
    $(document).ready(function () {
      $('#datePicker').val(new Date().toDateInputValue());
    });
  </script>
{% endblock %}
