<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <form class="bd-search d-flex align-items-center">

        <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"
                data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="true"
                aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"
                 focusable="false"><title>Menu</title>
                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                      d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
        </button>
        <a class="navbar-brand mr-0 mr-md-2" href="{% url 'book:index' %}" aria-label="Bootstrap">
            <svg width="72" height="36" xmlns="http://www.w3.org/2000/svg">
                <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
                <g>
                    <text xml:space="preserve" text-anchor="start" font-family="Oswald, sans-serif" font-size="24"
                          id="svg_4" y="27.843718" x="8.857184" fill-opacity="null" stroke-opacity="null"
                          stroke-width="0"
                          stroke="#000" fill="#000000">YoZit</text>
                </g>
            </svg>
        </a>
    </form>

    <nav class="bd-links collapse" id="bd-docs-nav" style="">
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="#">
                Getting started
            </a>
            <ul class="nav bd-sidenav">
                <li>
                    <a href="#">
                        Introduction
                    </a>
                </li>
                <li>
                    <a href="#">
                        Download
                    </a>
                </li>
            </ul>
        </div>
        <div class="bd-toc-item">
            <a class="bd-toc-link" href="#">
                Components
            </a>
            <ul class="nav bd-sidenav">
                <li>
                    <a href="#">
                        Alerts
                    </a>
                </li>
                <li>
                    <a href="#">
                        Badge
                    </a>
                </li>
            </ul>
        </div>
        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="#">
                Utilities
            </a>
            <ul class="nav bd-sidenav">
                <li>
                    <a href="#">
                        Borders
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        Embed
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>