<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-vibrant" id="sidebar">
    <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="#">
            <svg width="36" height="36" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <text xml:space="preserve" text-anchor="start" font-family="Oswald, sans-serif" font-size="24"
                          id="svg_4" y="27.843718" x="3.857184" fill-opacity="null" stroke-opacity="null"
                          stroke-width="0"
                          stroke="#000" fill="#000000">YZ</text>
                </g>
            </svg>
        </a>
        <div class="navbar-user d-md-none">

        </div>
        <!-- Form -->
        <div class="navbar-collapse collapse" id="sidebarCollapse" style>
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-rounded form-control-prepended"
                           placeholder="Search" aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fe fe-search"></span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Navigation -->
            <ul class="navbar-nav">
                {% for nav_item in nav_list %}
                    {% if nav_item.collapse %}
                        <li class="nav-item {{ nav_item.active }}">
                            <a class="nav-link" href="#{{ nav_item.button_url }}" data-toggle="collapse" role="button"
                               aria-expanded="{% if nav_item.active %}true{% else %}false{% endif %}"
                               aria-controls="{{ nav_item.button_url }}">
                                <i class="{{ nav_item.icon }}"></i> {{ nav_item.description }}
                            </a>
                            <div class="collapse {% if nav_item.active %}show{% endif %}"
                                 id="{{ nav_item.button_url }}">
                                <ul class="nav nav-sm flex-column">
                                    {% for child_nav_item in nav_item.child_list %}
                                        <li class="nav-item">
                                            <a class="nav-link {{ child_nav_item.active }}"
                                               href="{% url child_nav_item.template %}">
                                                <i class="{{ child_nav_item.icon }}"></i> {{ child_nav_item.description }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {{ nav_item.active }}" href="{% url nav_item.template %}">
                                <i class="{{ nav_item.icon }}"></i> {{ nav_item.description }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <!-- Divider -->
            <hr class="my-3">

            <!-- Heading -->
            <h6 class="navbar-heading text-muted">
                Documentation
            </h6>

            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link" href="/admin" target="_blank">
                        <i class="fe fe-clipboard"></i> Admin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://github.com/paryoja/dashboard" target="_blank">
                        <i class="fe fe-git-branch"></i> Changelog
                        <span class="badge badge-primary ml-auto">v0.1.0</span>
                    </a>
                </li>
            </ul>

            <!-- Divider -->
            <hr class="my-3">

            <h6 class="navbar-heading text-muted">
                Documentation
            </h6>

            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                {% if not user.is_active %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'book:login' %}?next=/book">
                            <i class="fe fe-log-in"></i> Login
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'book:logout' %}">
                            <i class="fe fe-log-out"></i> Logout
                        </a>
                    </li>
                {% endif %}
            </ul>

            <!-- Divider -->
            <hr class="my-3">

        </div>

    </div> <!-- / .container-fluid -->
</nav>